
.order-container{
display:flex;
flex-direction:column;
align-items:center;
text-align:center;

}

.product-container{
    display:flex;
    flex-direction:row;
    align-items:center;
    padding: 0 20px;
    border-bottom: 1px solid black;
    div{
        margin: 0 15px 15px;
    }
}

.product{
    display: flex;
    flex-direction:column;
    justify-content:space-around;
    height: 100%;
    text-align: center;
    span{
        font-weight: 700;
    }
}

.form-container{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    width:400px;
    height:400px;
    margin: 0 auto;
    box-shadow: 0 0 5px 0 rgba(0,0,0,.24);
    padding: 40px 30px;
    border-radius: 2px;
    background-color: #fff;
    form{
        display:flex;
        flex-direction:column;
        width:100%;
        align-items: center;
        justify-content:space-between;
        font-family: Poppins;
        span{
            font-size: 1rem;
        }
        input{
            width: 100%;
            border-radius: 2px;
            margin-top:10px;
            margin-bottom: 5px;
        
            height:2rem;
            color:solid black;
            font-size: 16px;
            font-weight: 500;
            background-color: transparent;
            
        }
    }
    
  
    .btn_submit {
        background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(97,186,255,1) 0%, rgba(166,239,253,1) 90.1% );
    }
    .btn_submit {
       margin: 10px;
       padding: 15px 45px;
       text-align: center;
       text-transform: uppercase;
       transition: 0.5s;
       background-size: 200% auto;
       color: white;            
       box-shadow: 0 0 20px #eee;
       border-radius: 10px;
       display: block;
     }

     .btn_submit:hover {
       background-position: right center;
       color: #fff;
       text-decoration: none;
     }
    
}
