




nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    // background-color: #A2D2FF;   //0a1629f6
    background-color: #8EC5FC;
    background-image: linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%);
    


    height: 100px;
    width: 100%;
    font-family: Poppins;

    p{
        font-weight: 700;
        font-size:16px;
        cursor: pointer;
    }

    .Brand{
        color:#1597E5;
        font-weight: 600;
    }
   .link{
       text-decoration: none;
       color: #EEF2FF;
       font-family: Poppins;
   }
  
   .btn{
       font-size: 1rem;
   }
    
}
